In [2]:
import pandas as pd
import numpy as np

In [6]:
data = [[1,2],[2,1]]
df = pd.DataFrame(data, columns=["col1", "col2"], index=["row1", "row2"])
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>row1</th>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>row2</th>
      <td>2</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>